@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap");
* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.header {
  text-align: center;
}

.header__logo {
  padding: 10px;
}

.header__logo img {
  padding-top: 10px;
  width: 140px;
}

.header__loc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 15px;
  padding: 20px;
  background: #eaeaea;
  font-weight: 500;
  -webkit-box-shadow: inset 0px 5px 3px #cfcfcf;
          box-shadow: inset 0px 5px 3px #cfcfcf;
}

.header__loc i {
  padding-left: 40px;
}

.header__loc input {
  font-weight: 500;
  border: none;
  background: inherit;
}

.header__slogan {
  background: #f6f6f6;
  padding: 0 30px 70px;
  margin-bottom: 50px;
}

.header__slogan h2 {
  font-size: 24px;
  padding: 30px 0 10px 0;
  margin: 0 20px;
  font-weight: bold;
}

.header__slogan p {
  padding-bottom: 30px;
  color: #656565;
}

.header__slogan--explore {
  border-radius: 25px;
  padding: 15px 20px;
  color: #FFF;
  background: -webkit-gradient(linear, left top, right bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  -webkit-box-shadow: 0px 2px 4px grey;
          box-shadow: 0px 2px 4px grey;
}

.header .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: start;
  margin: 20px;
  gap: 20px;
}

.header .nav h2 {
  margin: 0 -10px;
  font-size: 24px;
  font-weight: bold;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.header .nav__lien {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 2px 2px 5px #e5e5e5;
          box-shadow: 2px 2px 5px #e5e5e5;
  border-radius: 20px;
  gap: 10px;
  padding: 20px;
  background: #f6f6f6;
}

.header .nav__lien p {
  position: absolute;
  font-size: 12px;
  border: 2px solid #9356DC;
  border-radius: 25px;
  padding: 1px 5px;
  background: #9356DC;
  color: #FFF;
  margin: 0 10px;
  left: 0;
}

.header .nav__lien i {
  color: #888888;
  padding: 0 15px;
}

.header .nav__lien a {
  font-weight: 500;
}

.header .nav__lien:hover {
  cursor: pointer;
  color: #9356DC;
  background-color: #9356DC25;
}

.header .nav__lien:hover i {
  color: #9356DC;
}

.header .nav__lien:hover a {
  color: #000;
}

section {
  background: #f6f6f6;
  padding: 10px;
  gap: 10px;
}

.card {
  position: relative;
  background: #FFF;
  border-radius: 20px;
  margin: 15px 0;
}

.card h2 {
  font-size: 26px;
}

.card img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 200px;
  border-radius: 18px 18px 0 0;
}

.card__nouveau {
  position: absolute;
  font-size: 12px;
  font-weight: 500;
  color: #008766;
  padding: 5px 8px;
  border-radius: 2px;
  background: #99E2D0;
  right: 12px;
  top: 12px;
}

.card__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 20px;
}

.card__text h3 {
  font-size: 18px;
  font-weight: bold;
}

footer {
  background: #353535;
  padding: 20px;
  color: #FFF;
  font-size: 14px;
  padding-bottom: 30px;
}

footer img {
  width: 90px;
  margin-bottom: 15px;
  -webkit-filter: invert(1);
          filter: invert(1);
}

.contact p i {
  width: 20px;
  font-size: 10px;
  padding-right: 10px;
}

.header-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 79px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 25px;
  text-align: center;
}

.header-page img {
  padding-top: 10px;
  width: 140px;
}

.section {
  padding: 0;
}

.section img {
  width: 100%;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
}

.section__hors-img {
  position: relative;
  bottom: -200px;
  background: #f6f6f6;
  padding: 20px;
  border-radius: 20px 20px 0 0;
}

.section__titre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 24px;
  padding-bottom: 10px;
}

.section__titre h1 {
  font-family: 'Shrikhand', cursive;
  font-size: 26px;
}

.menu h2 {
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 40px;
  margin-bottom: 20px;
  margin-right: 290px;
  border-bottom: 3px solid #99E2D0;
}

.menu__plat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 20px;
  -webkit-box-shadow: 0px 2px 4px grey;
          box-shadow: 0px 2px 4px grey;
}

.menu__plat h3 {
  font-weight: bold;
}

.commander {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 30px;
}

.footer {
  position: relative;
  top: 200px;
}
/*# sourceMappingURL=main.css.map */