// ----------------------------------------------LOADER---
.section-loader{
    position: absolute;
    // Le loader reste au dessus du haut de ma page clic impossible                    ???
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;

    background: linear-gradient(60deg, $secondaire 30%, $primaire 70%);
    animation: fullscreen 3s;
// z-index pour passer au dessus de tout les elements sinon les cards avaient la priorité
    z-index: 1;
    text-align: center;
    line-height: 600px;
    font-size: 30px;
    visibility: hidden;
}
.alim{
    position: relative;
    font-size: 22px;
    animation: grow1 .5s ease-in-out alternate;
    @for $i from 1 to 4 {
        &--#{$i} {
            animation-delay: 100ms * $i;
        }
    }
}
.lettre{
    display: inline-block;
    font-weight: bold;
    font-family: 'Shrikhand', cursive;
    animation: grow1 1.2s ease-in-out alternate forwards;
    @for $i from 0 to 8 {
        &--#{$i} {
            animation-delay: 200ms * $i;
        }
    }
}
@keyframes fullscreen {
    0%{ opacity: 1;
        position: fixed;
        // j'ai utiliser visibility pour faire apparaitre et disparaitre le loader a la fin
        // sinon le loader restait tapis dans l'ombre
        visibility: visible;
    }
    100%{opacity: 0.95;
        position: fixed;
        visibility: visible;
    }
        // Comment retirer le loader de la page ???
   
}
@keyframes grow1 {
0%{
    transform: scale(0) translateX(0%) rotate(0deg);
}
95%{
    transform: scale(1) translateX(50%) rotate(720deg);
    color: $primaire;
}
100%{
    transform: scale(1.2);
    color: $tertiaire;
    }
}
@keyframes spin{
    
    5%{transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
}
// ----------------------------------------------HEADER---

.header{
    text-align: center;
    &__logo{
        padding: 10px;
        & img{
            padding-top: 10px;
            width: 140px;
        }
    }
    &__loc{
        display: flex;
        align-items: baseline;
        justify-content: center;
        gap: 15px;
        padding: 20px;
        background: #eaeaea;
        font-weight: 500;
        // restirer les ombres des cotés                                   ???
        box-shadow: inset 0px 5px 3px #cfcfcf;
        & i{
            padding-left: 40px;
        }
        & input{
            font-weight: 500;
            border: none;
            background: inherit;
        }
    }
    &__slogan{
        background: #f6f6f6;
        padding: 0 30px 70px;
        margin-bottom: 50px;
        & h2{
            font-size: 24px;
            padding: 30px 0 10px 0;
            margin: 0 20px;
            font-weight: bold;
        }
        & p{
            padding-bottom: 30px;
            color: #656565;
        }
        &--explore{
            border-radius: 25px;
            padding: 15px 20px;
            color: #FFF;
            background: linear-gradient(to bottom right, $secondaire, $primaire);
            box-shadow: 0px 2px 4px grey;
            &:hover{
                cursor: pointer;
                
                box-shadow: 2px 2px 4px grey;
                transform: scale(1.15);
            }
        }
    }

    .nav{
        display: flex;
        flex-direction: column;
        text-align: start;
        margin: 20px;
        gap: 20px;
        & h2{
            margin: 0 -10px;
            font-size: 24px;
            font-weight: bold;
            justify-content: flex-start;
        }
        
        &__lien{
            @include flex_align_row;
            @include nav_border_padding;
            background: $fond;
            & p{
                position: absolute;
                font-size: 12px;
                border: 2px solid $primaire;
                border-radius: 25px;
                padding: 1px 5px;
                background: $primaire;
                color: #FFF;
                margin: 0 10px;
                left: 0;

                transition: transform 500ms ease-in-out ;
            }
            & i{
                color: #888888;
                padding: 0 15px;
            }
            & a{
                font-weight: 500;
            }
            &:hover{
                cursor: pointer;
                color: $primaire;
                
                background-color: lighten($primaire, 30);
                box-shadow: 2px 2px 5px grey;
                & p{
                    transform: scale(1.2) translateX(5px);
                }
                & i{
                    color: $primaire;
                }
                & a{
                    color: #000;
                }
            }
        }
    }
}

// ----------------------------------------SECTION---
section{
    background: $fond;
    padding: 10px;
    gap: 10px;
    & h2{
        font-size: 20px;
        font-weight: bold;
    }
}
.card{
    background: #FFF;
    border-radius: 20px;
    margin: 15px 0;
    &:hover{
        box-shadow: 2px 2px 5px grey;
        transition: transform 0.3s ease-in-out;
        transform: scale(1.01);
    }
    & h2{
        font-size: 26px;
    }
    & img{
        object-fit: cover;
        width: 100%;
        height: 200px;
        border-radius: 18px 18px 0 0;
    }
    &__nouveau{
        position: absolute;
        font-size: 12px;
        font-weight: 500;
        color: #008766;
        padding: 5px 8px;
        border-radius: 2px;
        background: $tertiaire;
        right: 12px;
        top: 12px;
        
    }
    &__text{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 20px;
        position: relative;
        & h3{
            font-size: 18px;
            font-weight: bold;
        }
        &--vide{
            // Animation du coeur semble correct mais le hover stope si on bouge legerement la souris
            position: relative;
            &:hover{
                & + .card__text--plein{
                    animation: remplissage 1s ease-in forwards;
                    right: 20px;
                }
                &::before{
                    content: '\f004';
                    animation: opac 950ms linear forwards;
                }
            }
        }
        &--plein{
            @include coeur-plein;
        }
    }
}

@keyframes remplissage{
    from{
        transform: scale(0);
        transform-origin: center;
        opacity: 0.2;
    }
    to{
        transform: scale(1);
        opacity: 1;
        
    }
}
@keyframes opac {
    from{opacity: 1;}
    to{opacity: 0;}   
}
// --------------------------------------------FOOTER---
footer{
    background: #353535;
    padding: 20px;
    color: #FFF;
    font-size: 14px;
    padding-bottom: 30px;
    & img{
        width: 90px;
        margin-bottom: 15px;
        filter: invert(1);
    }
}
.contact p i{
        width: 20px;
        font-size: 10px;
        padding-right: 10px;
}