.header-page{
    display: flex;
    // Trouver une solution pour afficher le logo au centre et la fleche a gauche sans gap ???
    gap: 79px;
    align-items: center;
    padding: 10px 25px;
    text-align: center;
    & img{ 
        padding-top: 10px;
        width: 140px;}
}
// Trait sous les titres entrée plat dessert

.section{
    padding: 0;
    & img{
        width: 100%;
        height: 250px;
        object-fit: cover;
        position: absolute;
    }
    &__hors-img{
        position: relative;
        bottom: -200px;
        background: $fond;
        padding: 20px;
        border-radius: 20px 20px 0 0;
        
        & i{
            // Effet non terminer je cherche encore a faire un degrader de couleur progressif      ??????
            cursor: pointer;
            &:active::before{
                content: '\f004';
                font-weight: bold;
                color: $primaire;
                transition: all 1s ease-in;
            }
        }
    }
    &__titre{
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 24px;
        padding-bottom: 10px;
    }
    &__titre h1{
        font-family: 'Shrikhand', cursive;
        font-size: 26px;
    }
    
}

// ---------Affichage des menus progressif en animation                      ???
.menu{
    & h2{
        font-size: 18px;
        font-weight: 400;
        text-transform: uppercase;
        margin-top: 40px;
        margin-bottom: 20px;
        // utiliser comme span
        // marge pour reduire la bordure sous le titre
        margin-right: 290px;
        // border-bottom: 3px solid $tertiaire; 
        & span{
            position: absolute;
            width: 50px;
            border-top: 3px solid $secondaire;
        }
    }
    &__plat{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-bottom: 10px;
        padding: 10px;
        border-radius: 20px;
        box-shadow: 0px 2px 4px grey;
        &--choix{
            // Probleme regler, est-ce que le titre doit réagir de la meme manieres ??? largeur 335px et moins impacter ???
            // contraint de répéter le code hidden sur la box et l'élément pour que sa fonctionne
            overflow: hidden;
            white-space: nowrap;
            & p{
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
        & h3{
            font-weight: bold;
        }
        // Pour l'animation je demarre avec une opacity de 0
        // Je fais aparaitre chaque plat l'un apres l'autre
        // avec ease-out je ralenti la fin de l'animation et je reste sur l'opacity finale avec forwards
        opacity: 0;
        animation: effet-menu .6s ease-out forwards;
        @for $i from 1 to 5 {
            &--#{$i} {
                animation-delay: 0.3s * $i;
            }
        }
    }
}
@keyframes effet-menu{
    50%{opacity: 0.4;}
    100%{opacity: 1;}
}
// effet sur le bouton au survol
.commander{
        display: flex;
        justify-content: center;
        margin: 30px;
}
// permet de retrouver l'espace perdu par la section qui deborde sur l'image
.footer{
    position: relative;
    top: 200px;
}