// ---------------------------------------------------------------------------------------------\\
// ---------------------------------------HEADER-PAGE-----------------------------------------\\
// ---------------------------------------------------------------------------------------------\\
.header-page{
    & a i{
        font-size: 18px;
        float: left;
        margin-top: 12px;
        margin-left: 10px;
    }
    & img{ 
        margin: auto;
        padding-top: 10px;
        width: 140px;}
        text-align: center;
}
// ---------------------------------------------------------------------------------------------\\
// ---------------------------------------SECTION-PAGE-----------------------------------------\\
// ---------------------------------------------------------------------------------------------\\
.section{
    clear: both;
    padding: 0;
    & img{
        width: 100%;
        height: 250px;
        object-fit: cover;
        position: absolute;
    }
    &__hors-img{
        position: relative;
        bottom: -200px;
        background: $fond;
        padding: 20px;
        border-radius: 20px 20px 0 0;
    }
    &__titre{
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 24px;
        padding-bottom: 10px;
    }
    &__titre h1{
        font-family: 'Shrikhand', cursive;
        font-size: 26px;
    }
}
.menu{
    & h2{
        font-size: 18px;
        font-weight: 400;
        text-transform: uppercase;
        margin-top: 40px;
        margin-bottom: 20px;

        margin-right: 290px;
        & span{
            position: absolute;
            width: 50px;
            border-top: 3px solid $secondaire;
        }
    }
    &__plat{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-bottom: 10px;
        padding: 10px;
        border-radius: 20px;
        box-shadow: 0px 2px 4px grey;
        opacity: 0;
        position: relative;
        overflow: hidden;
        &--choix{
            overflow: hidden;
            white-space: nowrap;
            & h3{
                font-weight: bold;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            & p{
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
        &:hover{
            & > .menu__plat--coche{
                
                animation: translate 600ms linear forwards;
                & > .test{
                    animation: plat 600ms linear forwards;
                }
            }
            & > .prix{
                transform: translateX(-50px);
                transition: all 600ms linear;
                margin-left: 50px;
            } 
        }
        &--coche{
            position: absolute;
            top: 0;
            right: 0;
            visibility: hidden;
            overflow: hidden;
            background-color: $tertiaire;
            padding: 19.9px;
            border-radius: 0 20px 20px 0;
            // paramètre icone coche 
            & .test{
                color: white;
                font-size: 18px;
                text-align: center;
            }
        }   
        // Pour l'animation je demarre avec une opacity de 0
        // Je fais aparaitre chaque plat l'un apres l'autre
        // avec ease-out je ralenti la fin de l'animation et je reste sur l'opacity finale avec forwards
        animation: effet-menu .6s ease-out forwards;
        @for $i from 1 to 5 {
            &--#{$i} {
                animation-delay: 0.3s * $i;
            }
        }
    }
}
.commander{
        display: flex;
        justify-content: center;
        margin: 30px;
}
// ---------------------------------------------------------------------------------------------\\
// ---------------------------------------FOOTER-PAGE-----------------------------------------\\
// ---------------------------------------------------------------------------------------------\\
.footer{
    position: relative;
    top: 200px;
}